name: Base CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.13"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install -v .
        python -m pip install ruff==0.13.1 pytest==8.4.2 pytest-cov==6.0.0
        python -m pip install -r .github/constraints/graforvfl-py313.txt
        python -m pip install --no-deps graforvfl 
    - name: lint
      run: |
        ruff check
    - name: test
      run: |
        python -m pytest -k test_against_shi2021
        cd /tmp
        python -m pytest --pyargs rvfl --cov=rvfl --cov-report=term-missing