name: Wheel Test

on:
  push:
    branches:
      - maintenance/**
  pull_request:
    branches:
      - main
      - maintenance/**

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.12", "3.13", "3.14"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install build pytest pytest-cov matplotlib
    - name: Generate wheel and sdist
      run: |
        python -m build
    - name: install and test wheel
      shell: bash
      run: |
        python -m pip install dist/gfdl*.whl
        python -m pip install pandas ucimlrepo
        cd $RUNNER_TEMP
        python -m pytest --pyargs gfdl --cov=gfdl --cov-report=term-missing
