name: Wheel Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.12", "3.13", "3.14"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install build pytest pytest-cov matplotlib
    - name: Generate wheel and sdist
      run: |
        python -m build
    - name: install and test wheel
      run: |
        python -m pip install dist/gfdl*.whl
        # test deps need to be manually installed
        # because of annoying version conflicts
        # with grafo?
        python -m pip install --no-deps "permetrics>=2.0.0" "mealpy>=3.0.2"
        python -m pip install --no-deps graforvfl
        python -m pip install pandas ucimlrepo
        cd /tmp
        python -m pytest --pyargs gfdl --cov=gfdl --cov-report=term-missing
