name: Wheel Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.13"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install build pytest pytest-cov
    - name: Generate wheel and sdist
      run: |
        python -m build
    - name: install and test wheel
      run: |
        python -m pip install dist/rvfl*.whl
        cd /tmp
        python -m pytest --pyargs rvfl --cov=rvfl --cov-report=term-missing
